<template>
    <div>
        <div class="chat_message_content pull-right w-100">
            <div class="header_chat_message_content">
                <div class="table-cell vertical-middle position-relative pull-right">
                    <img :src="init_data[init_data.auth_type]['photo']" alt="" class="chat_avatar">
                    <div class="active_person"></div>
                </div>
                <div class="table-cell vertical-middle pr-10 pull-right ">
                    <p class="chat_name">{{init_data[init_data.auth_type]['name']}}</p>
                </div>

                <div class="table-cell vertical-middle pr-10 pull-left span_online">
                    <span v-if="isOnline(firebase_user)" class="person_active"></span>
                    <span v-if="isOnline(firebase_user)"> {{ locale === 'en' ? 'Active Now ' : 'نشط الآن'}}  </span>

                    <span v-if="isOffline(firebase_user)" class="person_inactive"></span>
                    <span v-if="isOffline(firebase_user)"> {{ locale === 'en' ? 'last seen ' : 'أخر تواجد'}} : {{getDateFormat(firebase_user.lastSeen)}}</span>
                </div>
            </div>
            <div class="body_chat_message_content" id="container">
                <ul v-if="!is_chat_loading" class="list_chat_message_content">
                    <!--<li>-->
                    <!--<a href="javascript:;" @click="loadMore()">المزيد</a>-->
                    <!--</li>-->
                    <li v-for="message in messages">
                        <div :class="((message.senderID === init_data.id)?'send' : 'replay')+ ' d-flex align-items-center '">
                            <div class="text col-lg-7">
                                <!--<p class="info">{{message.content}}</p>-->
                                <!--<p class="date">{{getDateFormat(message.createdAt)}}</p>-->
                                <p class="info">
                                    <span>{{message.content}}</span>
                                    <span class="date-yi">{{getDateFormat(message.createdAt)}}</span>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>

                <div v-if="is_chat_loading" style="height: 600px">
                    <div class="showbox" style="padding-top: 15%;">
                        <div class="loader">
                            <svg class="circular" viewBox="25 25 50 50">
                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"
                                        stroke-miterlimit="10"></circle>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_chat_message_content">
                <div class="form-group">
                    <input @keypress.enter="sendMessage()" type="text" v-model="input_text"
                           :placeholder="locale === 'en' ? 'Enter message ...' : 'أكتب رسالتك ...'">
                    <button @click="sendMessage()" type="submit">
                        <img src="/front/images/send.png" alt="">
                    </button>
                </div>
            </div>
        </div>


        <div v-if="is_component_loading" style="height: 750px">
            <div class="showbox" style="padding-top: 23%;">
                <div class="loader">
                    <svg class="circular" viewBox="25 25 50 50">
                        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"
                                stroke-miterlimit="10"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    // var firebase = require("firebase/app");
    // require("firebase/database");
    var _this;
    export default {
        name: "messaging",
        props: ['init_data'],
        http: {
            headers: {
                'X-CSRF-Token': $('meta[name=_token]').attr('content')
            }
        },
        data() {
            return {
                config: {},
                firebase_config: {
                    apiKey: "AIzaSyBLvoMsd79jDuQxABMLQ_0UYB9FxFpuvYE",
                    authDomain: "halapronew.firebaseapp.com",
                    databaseURL: "https://halapronew.firebaseio.com",
                    projectId: "halapronew",
                    storageBucket: "halapronew.appspot.com",
                    messagingSenderId: "216930317620",
                },
                is_component_loading: false,
                is_chat_loading: true,
                messages: [],
                users: [],
                chat: {},
                locale: 'en',
                firebase_user: {
                    lastSeen: "",
                    isOnline: 2,
                },
                page_length: 10,
                input_text: ''
            }
        },
        created() {
            _this = this;
            // firebase.initializeApp(_this.firebase_config);
            _this.chat = _this.init_data.chat;
            _this.locale = _this.init_data.locale;
            let newItems = false;
            var messagesRef = firebase.app().database().ref('messages/' + _this.chat.id);
            messagesRef.on('child_added', (snapshot) => {
                if (!newItems) {
                    return
                }
                var message = snapshot.val();
                if (message.createdAt === undefined) {
                    message.createdAt = _this.currentTimeStamp();
                }
                _this.messages.push(message);
                _this.scrollToBottom();
            });
            messagesRef.once('value', (snapshot) => {
                // console.log(snapshot.ref.parent.numChildren());
                snapshot.forEach(function (object) {
                    _this.messages.push(object.val());
                });
            }).then(function (snapshot) {
                _this.is_chat_loading = false;
                setTimeout(function () {
                    _this.scrollToBottom();
                    newItems = true

                }, 500)
            });
        },
        computed: {},
        mounted() {
            var id = (_this.init_data.id === _this.chat.studentID ? _this.chat.teacherID : _this.chat.studentID);
            var userRef = firebase.database().ref('users/' + id);
            userRef.once('value', (snapshot) => {
                _this.firebase_user = snapshot.val();
            });
            userRef.on('child_changed', (snapshot) => {
                _this.firebase_user[snapshot.key] = snapshot.val();
            });
            var ref = firebase.database().ref('users/' + _this.init_data.id + '/isOnline');
            ref.onDisconnect().set(0);
        },
        methods: {
            isOnline(user){
                var minutes = parseInt((new Date().getTime() - new Date(user.lastSeen).getTime()) / 60000);
                return !isNaN(minutes) && minutes !== undefined && minutes <= 5;
            },
            isOffline(user){
                var minutes = parseInt((new Date().getTime() - new Date(user.lastSeen).getTime()) / 60000);
                return !isNaN(minutes) && minutes !== undefined && minutes > 5;
            },
            loadMore() {
                _this.limit += 5;
            },
            updateUser(conversation, snapshot) {
                var newArray = _this.conversations.filter(function (conversation) {
                    return conversation.userID === parseInt(snapshot.ref.parent.key);
                });
                if (newArray.length > 0) {
                    newArray[0].user[snapshot.key] = snapshot.val();
                }
            },
            getDateFormat(timestamp) {
                var date = new Date(timestamp);
                return date.toLocaleDateString("en-US") + ' '+date.toLocaleTimeString("en-US");
            },
            sendMessage() {
                // console.log(firebase.database.ServerValue.TIMESTAMP);
                if (_this.input_text.trim()) {
                    var messageData = {
                        content: _this.input_text,
                        senderID: _this.init_data.id,
                        createdAt: firebase.database.ServerValue.TIMESTAMP,
                        seenAt: "",
                    };
                    firebase.database().ref().child('messages/' + _this.chat.id).push(messageData);
                    firebase.database().ref().child('trainingChats/' + _this.chat.id).update({
                        lastMessage: _this.input_text,
                        updatedAt: firebase.database.ServerValue.TIMESTAMP,
                    });
                    _this.input_text = "";
                    _this.scrollToBottom();
                }
            },
            scrollToBottom() {
                var $parentDiv = $("#container");
                var $innerListItem = $(document).find("#container ul li").last();
                if ($innerListItem.position() !== undefined) {
                    $parentDiv.animate({
                        scrollTop: $parentDiv.scrollTop() + $innerListItem.position().top
                            - $parentDiv.height() + $innerListItem.height()
                    }, 500);
                }

            }
            ,
            currentTimeStamp() {
                var now = new Date();
                var year = "" + now.getFullYear();
                var month = "" + (now.getMonth() + 1);
                if (month.length === 1) {
                    month = "0" + month;
                }
                var day = "" + now.getDate();
                if (day.length === 1) {
                    day = "0" + day;
                }
                var hour = "" + now.getHours();
                if (hour.length === 1) {
                    hour = "0" + hour;
                }
                var minute = "" + now.getMinutes();
                if (minute.length === 1) {
                    minute = "0" + minute;
                }
                var second = "" + now.getSeconds();
                if (second.length === 1) {
                    second = "0" + second;
                }
                return year + "-" + month + "-" + day + " " + hour + ":" + minute + ":" + second;
            }
            ,
        }
    }
</script>

<style scoped>
    .vue-content-placeholders-heading {
        margin-top: 20px;
    }

    .showbox {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 5%;
    }

    .loader {
        position: relative;
        margin: 0px auto;
        width: 100px;
    }

    .loader:before {
        content: '';
        display: block;
        padding-top: 100%;
    }

    .circular {
        -webkit-animation: rotate 2s linear infinite;
        animation: rotate 2s linear infinite;
        height: 100%;
        -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
        transform-origin: center center;
        width: 50%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .path {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
        animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
        stroke-linecap: round;
    }

    @-webkit-keyframes rotate {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes rotate {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @-webkit-keyframes dash {
        0% {
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
        }
        50% {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -35;
        }
        100% {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -124;
        }
    }

    @keyframes dash {
        0% {
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
        }
        50% {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -35;
        }
        100% {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -124;
        }
    }

    @-webkit-keyframes color {
        100%, 0% {
            stroke: #de5698;
        }
        40% {
            stroke: #de5698;
        }
        66% {
            stroke: #de5698;
        }
        80%, 90% {
            stroke: #de5698;
        }
    }

    @keyframes color {
        100%, 0% {
            stroke: #de5698;
        }
        40% {
            stroke: #de5698;
        }
        66% {
            stroke: #de5698;
        }
        80%, 90% {
            stroke: #de5698;
        }
    }

    span.date-yi {
        font-size: 9px;
    }
    .list_chat_message_content .send .info span {
        width: 100%;
        display: inline-block;
    }
    .list_chat_message_content .replay .info span {
        width: 100%;
        display: inline-block;
    }
</style>