<template>
    <div>
        <div v-if="!is_component_loading" class="main_chat_messgae">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="chat_right_content">
                            <ul class="nav nav-tabs">
                                <li><a href="javascript:;"> {{locale === 'ar' ? 'قائمة المحادثات' : 'Conversations List'}} </a></li>
                            </ul>
                            <div class="tab-content">
                                <div v-if="is_conversations_loading">
                                    <content-placeholders>
                                        <content-placeholders-heading :animated="true" :img="true"/>
                                    </content-placeholders>
                                    <content-placeholders>
                                        <content-placeholders-heading :animated="true" :img="true"/>
                                    </content-placeholders>
                                    <content-placeholders>
                                        <content-placeholders-heading :animated="true" :img="true"/>
                                    </content-placeholders>
                                    <content-placeholders>
                                        <content-placeholders-heading :animated="true" :img="true"/>
                                    </content-placeholders>
                                </div>
                                <ul class="chat_list_name" id="chats_containers" v-if="!is_conversations_loading">
                                    <li v-for="(conversation,index) in sortedConversations"
                                        :class="'d-flex align-items-center ' + (unReadCount(conversation) > 0 ? 'active' : '')">
                                        <a href="javascript:;" @click.prevent="changeConversation(index)">
                                            <div class="table-cell vertical-middle position-relative">
                                                <img :src="conversation.user.avatarURL" alt="" class="chat_avatar">
                                                <div v-if="isOnline(conversation.user)"
                                                     class="active_person"></div>
                                                <div v-if="isOffline(conversation.user)"
                                                     class="inactive_person"></div>
                                            </div>
                                            <div class="table-cell vertical-middle pr-10 ">
                                                <p class="chat_name">{{conversation.user.fullName}}

                                                </p>
                                                <!--<span v-if="unReadCount(conversation) > 0" class="un-read-count"> {{unReadCount(conversation)}}</span>-->


                                                <p class="chat-last-msg">
                                                    {{stringLimit(conversation.lastMessage,55)}}</p>
                                            </div>
                                        </a>

                                        <p class="date">
                                             <span class="dropdown show text-left">
                                                    <a class="dropdown-toggle" href="#" role="button" :id="'conversation-actions-'+conversation.id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fa fa-ellipsis-h"></i>
                                                    </a>

                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                        <a class="dropdown-item" href="#" @click="deleteConversation(conversation,index)">{{locale === 'ar' ? 'حذف المحادثه' : 'Delete Conversation'}}</a>
                                                    </div>
                                                </span>
                                            <br>
                                            {{(conversation.updatedAt)?getDateFormat(conversation.updatedAt):''}}
                                        </p>
                                    </li>
                                    <li v-if="conversations.length === 0" class="d-flex align-items-center">
                                        <h5 class="text-center">{{locale === 'ar' ? 'لا يوجد محادثات' : 'No Conversations'}}</h5>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>




                    <div class="col-lg-8">
                        <div class="chat_message_content">
                            <div class="header_chat_message_content">
                                <div class="table-cell vertical-middle position-relative">
                                    <img :src="current_conversation.user.avatarURL" alt="" class="chat_avatar">
                                    <div class="active_person"></div>
                                </div>
                                <div class="table-cell vertical-middle pr-10 ">
                                    <p class="chat_name">{{current_conversation.user.fullName}}</p>
                                </div>

                                <div class="table-cell vertical-middle pr-10 pull-left span_online">
                                    <span v-if="isCurrentUserOnline" class="person_active"></span>
                                    <span v-if="isCurrentUserOnline">{{locale === 'ar' ? ' نشط الآن':'Active now'}} </span>

                                    <span v-if="isCurrentUserOffline" class="person_inactive"></span>
                                    <span v-if="isCurrentUserOffline"> {{ locale === 'en' ? 'last seen ' : 'أخر تواجد'}} : {{getDateFormat(current_conversation.user.lastSeen)}}</span>
                                </div>
                            </div>
                            <div class="body_chat_message_content" id="container">
                                <ul v-if="!is_chat_loading" class="list_chat_message_content">
                                    <li style="display: none"></li>
                                    <li v-for="message in current_conversation.messages">
                                        <div :class="((message.senderID === init_data.id)?'send' : 'replay')+ ' d-flex align-items-center '">
                                            <div class="text col-lg-7">
                                                <p class="info">
                                                    <span>{{message.content}}</span>
                                                    <span class="date-yi">{{getDateFormat(message.createdAt)}}</span>
                                                </p>
                                                <!--<p class="date">{{getDateFormat(message.createdAt)}}</p>-->
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                                <div v-if="is_chat_loading" style="height: 600px">
                                    <div class="showbox" style="padding-top: 15%;">
                                        <div class="loader">
                                            <svg class="circular" viewBox="25 25 50 50">
                                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"
                                                        stroke-miterlimit="10"></circle>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div v-if="current_conversation.user.id !== undefined" class="footer_chat_message_content">
                                <div class="form-group">
                                    <input @keypress.enter="sendMessage" type="text"
                                           @focus="makeMessagesUnRead" v-model="current_conversation.input_text"
                                           :placeholder="locale === 'ar' ? 'أكتب رسالتك ...':'Enter Message ...' ">
                                    <button @click="sendMessage" type="submit">
                                        <img src="/front/images/send.png" alt="">
                                    </button>
                                </div>
                                <div v-if="current_conversation.messages.length === 0">
                                    <h5 class="text-center"> {{locale === 'ar' ? 'لا يوجد رسائل' : 'No Messages'}} </h5>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="is_component_loading" style="height: 750px">
            <div class="showbox" style="padding-top: 23%;">
                <div class="loader">
                    <svg class="circular" viewBox="25 25 50 50">
                        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"
                                stroke-miterlimit="10"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    var _this;
    export default {
        name: "messaging",
        props: ['init_data'],
        http: {
            headers: {
                'X-CSRF-Token': $('meta[name=_token]').attr('content')
            }
        },
        data() {
            return {
                config: {},
                is_component_loading: false,
                is_conversations_loading: true,
                is_chat_loading: true,
                can_send_message: true,
                hash: '',
                conversation_num: 0,
                current_conversation: {
                    input_text: "",
                    messages: [],
                    user: {
                        fullName: "",
                        avatarURL: "",
                    }
                },
                has_conversation: false,
                conversations: [],
                unReadKeys: [],
                users: []
            }
        },
        created() {
            _this = this;
            _this.hash = _this.init_data.hash;
            _this.locale = _this.init_data.locale;
            _this.fetchVueData();
            var userChatsRef = firebase.database().ref('users/' + _this.init_data.id + '/messagingChats');
            userChatsRef.once('value', (chatSnapshot) => {
                return chatSnapshot;
            }).then(function (chatSnapshot) {
                _this.conversation_num = chatSnapshot.numChildren();
                if (_this.conversation_num > 0) {
                    chatSnapshot.forEach(function (chat) {
                        var chatsRef = firebase.database().ref().child('/messagingChats/' + chat.key);

                        chatsRef.once('value').then(function (chat) {
                            _this.pushConversation(chat);
                        });
                        chatsRef.on('child_changed', (chat) => {
                            _this.updateConversation(chat);
                        });
                    });
                } else {
                    _this.is_component_loading = false;
                    _this.is_conversations_loading = false;
                    _this.is_chat_loading = false;
                }
                // _this.is_component_loading = false;
                // setTimeout(function () {
                //     if (_this.conversations.length > 0) {
                //         _this.changeConversation(_this.conversations.length - 1);
                //     }
                //     _this.is_conversations_loading = false;
                // }, 700);
                _this.scrollToBottom();
            });
            userChatsRef.on('child_added', (chatSnapshot) => {
                var chatsRef = firebase.database().ref('/messagingChats/' + chatSnapshot.key);
                chatsRef.once('value').then(function (chatSnapshot) {
                    _this.pushConversation(chatSnapshot);
                });
                chatsRef.on('child_changed', (chatSnapshot) => {
                    _this.updateConversation(chatSnapshot);
                });
            });

            // setInterval(function () {
            //     _this.conversations.forEach(function (conversation) {
            //         console.log(conversation);
            //     });
            // }, 30000);
        },
        computed: {
            sortedConversations: function () {
                return _this.conversations.sort((a, b) => new Date(a.updatedAt) - new Date(b.updatedAt)).reverse();
            },
            isCurrentUserOnline: function () {
                return _this.isOnline(_this.current_conversation.user);
            },
            isCurrentUserOffline: function () {
                return _this.isOffline(_this.current_conversation.user);
            }
        },
        mounted() {

        },
        methods: {
            isOnline(user) {
                var minutes = parseInt((new Date().getTime() - new Date(user.lastSeen).getTime()) / 60000);
                return !isNaN(minutes) && minutes !== undefined && minutes <= 5;
            },
            isOffline(user) {
                var minutes = parseInt((new Date().getTime() - new Date(user.lastSeen).getTime()) / 60000);
                return !isNaN(minutes) && minutes !== undefined && minutes > 5;
            },
            pushConversation(chat_snapshot) {
                console.log(chat_snapshot);
                var conversation = chat_snapshot.val();

                if(conversation==null) return;
                // if (conversation !== null && conversation !== undefined) {
                    var id = (_this.init_data.id === conversation.studentID ? conversation.teacherID : conversation.studentID);
                    if (id !== 0) {
                        var userRef = firebase.database().ref('users/' + id);
                        userRef.once('value', (snapshot) => {
                            var user = snapshot.val();
                            _this.has_conversation = false;
                            _this.conversations.forEach(function (object) {
                                if (object.key === chat_snapshot.key) {
                                    _this.has_conversation = true
                                }
                            });
                            if (!_this.has_conversation) {
                                _this.conversations.push({
                                    index: _this.conversations.length,
                                    key: chat_snapshot.key,
                                    userID: user.id,
                                    input_text: "",
                                    user: user,
                                    isOpened: false,
                                    locale: 'en',
                                    messages: [],
                                    lastMessage: conversation.lastMessage,
                                    studentID: conversation.studentID,
                                    teacherID: conversation.teacherID,
                                    studentUnReadCount: !isNaN(conversation.studentUnReadCount) ? conversation.studentUnReadCount : 0,
                                    teacherUnReadCount: !isNaN(conversation.teacherUnReadCount) ? conversation.teacherUnReadCount : 0,
                                    createdAt: conversation.createdAt,
                                    updatedAt: conversation.updatedAt
                                });
                                var newArray = _this.conversations.filter(function (conversation) {
                                    return conversation.key === chat_snapshot.key;
                                });
                                var messagesRef = firebase.database().ref('messages/' + chat_snapshot.key).orderByChild('updatedAt');
                                messagesRef.once("value", function (snap) {
                                    if (newArray.length > 0) {
                                        newArray[0].messagesCount = snap.numChildren();
                                    }
                                });
                                messagesRef.on('child_added', (snapshot) => {
                                    var message = snapshot.val();
                                    if (newArray !== undefined && newArray.length > 0) {
                                        if (message.createdAt === undefined) {
                                            message.createdAt = _this.currentTimeStamp();
                                        }
                                        newArray[0].messages.push(message);
                                        _this.readMessage(chat_snapshot.key, snapshot.key);
                                        if ((newArray[0].index === _this.current_conversation.index) && (newArray[0].messages.length - 1 >= newArray[0].messagesCount)) {
                                            _this.scrollToBottom();
                                        }
                                    }
                                });
                                if (_this.conversations.length >= _this.conversation_num) {
                                    _this.is_conversations_loading = false;
                                    if (_this.conversations.length > 0) {
                                        var hashConversation = _this.conversations.filter(function (conversation) {
                                            return conversation.key === _this.hash;
                                        });
                                        _this.changeConversation(hashConversation.length > 0 ? hashConversation[0].index : _this.conversations.length - 1);
                                        _this.is_chat_loading = false;
                                        if (newArray[0].index === _this.current_conversation.index) {
                                            _this.scrollToBottom();
                                        }
                                    }
                                }
                                // _this.scrollToBottom();
                            }
                        });
                        userRef.on('child_changed', (snapshot) => {
                            _this.updateUser(conversation, snapshot);
                        });
                    } else {
                        _this.is_conversations_loading = false;
                        _this.is_chat_loading = false;
                        setTimeout(function () {
                            if (_this.conversations.length > 0) {
                                var hashConversation = _this.conversations.filter(function (conversation) {
                                    return conversation.key === _this.hash;
                                });
                                _this.changeConversation(hashConversation.length > 0 ? hashConversation[0].index : _this.conversations.length - 1);
                            }
                        }, 100)

                        // _this.scrollToBottom();
                    }
                // }else {
                //     _this.is_conversations_loading = false;
                //     _this.is_chat_loading = false;
                //     setTimeout(function () {
                //         if (_this.conversations.length > 0) {
                //             var hashConversation = _this.conversations.filter(function (conversation) {
                //                 return conversation.key === _this.hash;
                //             });
                //             _this.changeConversation(hashConversation.length > 0 ? hashConversation[0].index : _this.conversations.length - 1);
                //         }
                //     }, 100)
                //
                //     // _this.scrollToBottom();
                // }

            },
            updateConversation(conversation) {
                var newArray = _this.conversations.filter(function (object) {
                    return object.key === conversation.ref.parent.key;
                });
                if (newArray.length > 0) {
                    newArray[0][conversation.key] = conversation.val();
                }
            },
            readMessage(_chat_key, _message_key) {
                firebase.database().ref().child('messages/' + _chat_key + '/' + _message_key).update({
                    seenAt: new Date().getTime(),
                });
            },
            updateUser(conversation, snapshot) {
                var newArray = _this.conversations.filter(function (conversation) {
                    return conversation.userID === parseInt(snapshot.ref.parent.key);
                });
                if (newArray.length > 0) {
                    newArray[0].user[snapshot.key] = snapshot.val();
                }
            },
            fetchVueData: function fetchVueData() {
                this.$http.get('/en/profile/messages-data', function (data, status, request) {
                    this.ajaxRequest = false;
                }).then(function (res, status, request) {
                    _this.config = res.body.data;
                }).catch(function () {
                    alert('error');
                });
            },
            getDateFormat(timestamp) {
                var date = new Date(timestamp);
                return date.toLocaleDateString("en-US") + ' ' + date.toLocaleTimeString("en-US");
            },
            changeConversation(index) {
                _this.current_conversation = _this.conversations[index];
                _this.makeMessagesUnRead();
                // if (!_this.current_conversation.isOpened) {
                //     _this.is_chat_loading = true;
                //
                //     setTimeout(function () {
                //         _this.is_chat_loading = false;
                //         _this.current_conversation.isOpened = true;
                //         }, 1000);
                // };
                _this.scrollToBottom();
            },
            sendMessage() {
                var messageData = {
                    content: _this.current_conversation.input_text,
                    senderID: _this.init_data.id,
                    createdAt: firebase.database.ServerValue.TIMESTAMP,
                    seenAt: "",
                };
                if (_this.current_conversation.input_text.trim()) {
                    firebase.database().ref().child('messages/' + _this.current_conversation.key).push(messageData);
                    firebase.database().ref().child('messagingChats/' + _this.current_conversation.key).update({
                        lastMessage: _this.current_conversation.input_text,
                        teacherUnReadCount: (parseInt(_this.init_data.type) !== 2) ? ++_this.current_conversation.teacherUnReadCount : 0,
                        studentUnReadCount: (parseInt(_this.init_data.type) === 2) ? ++_this.current_conversation.studentUnReadCount : 0,
                        updatedAt: firebase.database.ServerValue.TIMESTAMP
                    }).then(function () {
                        firebase.database().ref().child('users/' + _this.current_conversation.studentID + '/messagingChats/' + _this.current_conversation.key).update({
                            unReadCount: _this.current_conversation.studentUnReadCount,
                        });
                        firebase.database().ref().child('users/' + _this.current_conversation.teacherID + '/messagingChats/' + _this.current_conversation.key).update({
                            unReadCount: _this.current_conversation.teacherUnReadCount,
                        });
                    });
                    _this.current_conversation.input_text = "";
                    _this.scrollToBottom();
                }
            },
            scrollToBottom() {
                // if (!_this.is_chat_loading) {
                var $parentDiv = $("#container");
                var $innerListItem = $(document).find("#container ul li").last();
                if ($innerListItem.position() !== undefined) {
                    $parentDiv.animate({
                        scrollTop: $parentDiv.scrollTop() + $innerListItem.position().top
                            - $parentDiv.height() + $innerListItem.height()
                    }, 500);
                }
                // }
            },
            unReadCount(conversation) {
                return (parseInt(_this.init_data.type) === 2) ? conversation.teacherUnReadCount : conversation.studentUnReadCount;
            },
            makeMessagesUnRead() {
                firebase.database().ref().child('messagingChats/' + _this.current_conversation.key).update({
                    teacherUnReadCount: (parseInt(_this.init_data.type) === 2) ? 0 : _this.current_conversation.teacherUnReadCount,
                    studentUnReadCount: (parseInt(_this.init_data.type) === 1) ? 0 : _this.current_conversation.studentUnReadCount,
                });
                firebase.database().ref().child('users/' + _this.current_conversation.studentID + '/messagingChats/' + _this.current_conversation.key).update({
                    unReadCount: _this.current_conversation.studentUnReadCount,
                });
                firebase.database().ref().child('users/' + _this.current_conversation.teacherID + '/messagingChats/' + _this.current_conversation.key).update({
                    unReadCount: _this.current_conversation.teacherUnReadCount,
                });
            },
            currentTimeStamp() {
                var now = new Date();
                var year = "" + now.getFullYear();
                var month = "" + (now.getMonth() + 1);
                if (month.length === 1) {
                    month = "0" + month;
                }
                var day = "" + now.getDate();
                if (day.length === 1) {
                    day = "0" + day;
                }
                var hour = "" + now.getHours();
                if (hour.length === 1) {
                    hour = "0" + hour;
                }
                var minute = "" + now.getMinutes();
                if (minute.length === 1) {
                    minute = "0" + minute;
                }
                var second = "" + now.getSeconds();
                if (second.length === 1) {
                    second = "0" + second;
                }
                return year + "-" + month + "-" + day + " " + hour + ":" + minute + ":" + second;
            },
            stringLimit(text, length) {
                // return (text.length > length) ? text.substring(0, length) + ' ...' : text;
                // return text.substring(0, length);
                return text;
            //
            },
            deleteConversation(conversation,index){
                var message= 'Are you sure you want to delete this conversation ?';
                var deleted_message='Conversation deleted successfully !';
                if(_this.locale === 'ar')
                {
                    message= 'هل انت متاكد من حذف المحادثه ؟';
                    deleted_message= 'تم حذف المحادثه بنجاح';
                }
                if (confirm(message)) {
                    var id = (_this.init_data.id === conversation.studentID ? conversation.teacherID : conversation.studentID);

                    var currentRef3 = firebase.database().ref().child('users/' + id + '/messagingChats/' + conversation.key); //Ref3
                    var currentRef4 = firebase.database().ref('users/' + _this.init_data.id + '/messagingChats/' + conversation.key);

                    var currentRef5 = firebase.database().ref().child('messages/' + conversation.key);

                    // currentRef3.remove();
                    currentRef4.remove();
                    currentRef5.remove();
                    alert(deleted_message);//Delete Message
                    _this.conversations.splice(index, 1);
                    _this.current_conversation= {
                        input_text: "",
                        messages: [],
                        user: {
                            fullName: "",
                            avatarURL: "",
                        }
                    };

                } else {


                }
            }
        }
    }
</script>

<style scoped>
    .vue-content-placeholders-heading {
        margin-top: 20px;
    }

    p.date {
        font-size: 10px;
    }

    .showbox {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 5%;
    }

    .loader {
        position: relative;
        margin: 0px auto;
        width: 100px;
    }

    .loader:before {
        content: '';
        display: block;
        padding-top: 100%;
    }

    .circular {
        -webkit-animation: rotate 2s linear infinite;
        animation: rotate 2s linear infinite;
        height: 100%;
        -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
        transform-origin: center center;
        width: 50%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .path {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
        animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
        stroke-linecap: round;
    }

    @-webkit-keyframes rotate {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @keyframes rotate {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    @-webkit-keyframes dash {
        0% {
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
        }
        50% {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -35;
        }
        100% {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -124;
        }
    }

    @keyframes dash {
        0% {
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
        }
        50% {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -35;
        }
        100% {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -124;
        }
    }

    @-webkit-keyframes color {
        100%, 0% {
            stroke: #de5698;
        }
        40% {
            stroke: #de5698;
        }
        66% {
            stroke: #de5698;
        }
        80%, 90% {
            stroke: #de5698;
        }
    }

    @keyframes color {
        100%, 0% {
            stroke: #de5698;
        }
        40% {
            stroke: #de5698;
        }
        66% {
            stroke: #de5698;
        }
        80%, 90% {
            stroke: #de5698;
        }
    }

    span.date-yi {
        font-size: 9px;
    }

    .list_chat_message_content .send .info span {
        width: 100%;
        display: inline-block;
    }

    .list_chat_message_content .replay .info span {
        width: 100%;
        display: inline-block;
    }
</style>