<template>
    <div>

    </div>
</template>

<script>
    var firebase = require("firebase/app");
    window.firebase = firebase;
    require("firebase/database");
    var _this;
    export default {
        name: "status",
        props: ['init_data'],
        http: {
            headers: {
                'X-CSRF-Token': $('meta[name=_token]').attr('content')
            }
        },
        data() {
            return {
                config: {},
                firebase_config: {
                    apiKey: "AIzaSyDLPEV3tQGZ8A7LGigAUwN3J0fMzKqrBp0",
                    authDomain: "halapronew.firebaseapp.com",
                    databaseURL: "https://newhalapro.firebaseio.com",
                    projectId: "newhalapro",
                    storageBucket: "newhalapro.appspot.com",
                    messagingSenderId: "54458046918",
                },
            }
        },
        created() {
            _this = this;
            firebase.initializeApp(_this.firebase_config);
        },
        computed: {},
        mounted() {
            var userRef = firebase.database().ref('users/' + _this.init_data.id);
            userRef.once('value', (snapshot) => {
                _this.firebase_user = snapshot.val();
            });
            userRef.on('child_changed', (snapshot) => {
                _this.firebase_user[snapshot.key] = snapshot.val();
            });
            var connectedRef = firebase.database().ref(".info/connected");
            connectedRef.on("value", function (snap) {
                if (snap.val() === true) {
                    firebase.database().ref().child('users/' + _this.init_data.id).update({
                        isOnline: 1,
                        lastSeen: _this.currentTimeStamp()
                    });
                } else {
                    firebase.database().ref().child('users/' + _this.init_data.id).update({
                        isOnline: 0,
                    });
                }
            });
            var ref = firebase.database().ref('users/' + _this.init_data.id + '/isOnline');
            ref.onDisconnect().set(0);
        },
        methods: {
            currentTimeStamp() {
                var now = new Date();
                var year = "" + now.getFullYear();
                var month = "" + (now.getMonth() + 1);
                if (month.length === 1) {
                    month = "0" + month;
                }
                var day = "" + now.getDate();
                if (day.length === 1) {
                    day = "0" + day;
                }
                var hour = "" + now.getHours();
                if (hour.length === 1) {
                    hour = "0" + hour;
                }
                var minute = "" + now.getMinutes();
                if (minute.length === 1) {
                    minute = "0" + minute;
                }
                var second = "" + now.getSeconds();
                if (second.length === 1) {
                    second = "0" + second;
                }
                return year + "-" + month + "-" + day + " " + hour + ":" + minute + ":" + second;
            }
            ,
        }
    }
</script>

<style scoped>

</style>