@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tjm6xb');
  src:  url('fonts/icomoon.eot?tjm6xb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tjm6xb') format('truetype'),
    url('fonts/icomoon.woff?tjm6xb') format('woff'),
    url('fonts/icomoon.svg?tjm6xb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-credit-cards-payment:before {
  content: "\e976";
}
.icon-give-money:before {
  content: "\e977";
}
.icon-visa-logo:before {
  content: "\e973";
}
.icon-paypal2:before {
  content: "\e974";
}
.icon-notification01:before {
  content: "\e972";
}
.icon-paper-plane:before {
  content: "\e96e";
}
.icon-sick:before {
  content: "\e96f";
}
.icon-smile2:before {
  content: "\e970";
}
.icon-notification1:before {
  content: "\e966";
}
.icon-open-magazine:before {
  content: "\e962";
}
.icon-small-calendar:before {
  content: "\e963";
}
.icon-student4:before {
  content: "\e964";
}
.icon-university:before {
  content: "\e965";
}
.icon-money-bag2:before {
  content: "\e960";
}
.icon-percentage:before {
  content: "\e961";
}
.icon-add:before {
  content: "\e957";
}
.icon-upload:before {
  content: "\e956";
}
.icon-building1:before {
  content: "\e967";
}
.icon-fax2:before {
  content: "\e968";
}
.icon-flag:before {
  content: "\e969";
}
.icon-phone-call3:before {
  content: "\e96a";
}
.icon-placeholder1:before {
  content: "\e96b";
}
.icon-smartphone2:before {
  content: "\e96c";
}
.icon-file1:before {
  content: "\e951";
}
.icon-folder:before {
  content: "\e952";
}
.icon-list:before {
  content: "\e953";
}
.icon-settings1:before {
  content: "\e954";
}
.icon-success:before {
  content: "\e955";
}
.icon-edit2:before {
  content: "\e958";
}
.icon-youtube-logo:before {
  content: "\e94e";
}
.icon-learning1:before {
  content: "\e94f";
}
.icon-team1:before {
  content: "\e950";
}
.icon-search:before {
  content: "\e94d";
}
.icon-create-new-pencil-button:before {
  content: "\e94c";
}
.icon-locked:before {
  content: "\e971";
}
.icon-mail(1):before {
  content: "\e96d";
}
.icon-placeholder(2):before {
  content: "\e95f";
}
.icon-user(1):before {
  content: "\e95e";
}
.icon-calendar1:before {
  content: "\e94a";
}
.icon-open-book1:before {
  content: "\e94b";
}
.icon-money-bag-with-dollar-symbol:before {
  content: "\e936";
}
.icon-dollar-symbol:before {
  content: "\e935";
}
.icon-coding:before {
  content: "\e937";
}
.icon-graduate-student-avatar:before {
  content: "\e95d";
}
.icon-market:before {
  content: "\e95c";
}
.icon-responsive:before {
  content: "\e95b";
}
.icon-teacher:before {
  content: "\e95a";
}
.icon-wifi:before {
  content: "\e959";
}
.icon-exit:before {
  content: "\e934";
}
.icon-clock-circular-outline:before {
  content: "\e938";
}
.icon-credit-card2 .path1:before {
  content: "\e939";
  color: rgb(93, 100, 127);
}
.icon-credit-card2 .path2:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(255, 209, 0);
}
.icon-credit-card2 .path3:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(184, 186, 192);
}
.icon-credit-card2 .path4:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(184, 186, 192);
}
.icon-credit-card2 .path5:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(184, 186, 192);
}
.icon-credit-card2 .path6:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(184, 186, 192);
}
.icon-credit-card2 .path7:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(138, 136, 149);
}
.icon-credit-card2 .path8:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(138, 136, 149);
}
.icon-credit-card2 .path9:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(255, 79, 25);
}
.icon-credit-card2 .path10:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(255, 149, 0);
}
.icon-credit-card2 .path11:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(255, 209, 0);
}
.icon-credit-card3:before {
  content: "\e944";
}
.icon-money2:before {
  content: "\e945";
}
.icon-paypal .path1:before {
  content: "\e946";
  color: rgb(0, 41, 135);
}
.icon-paypal .path2:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(0, 133, 204);
}
.icon-paypal .path3:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(0, 24, 106);
}
.icon-wallet:before {
  content: "\e949";
}
.icon-notification2:before {
  content: "\e933";
}
.icon-education:before {
  content: "\e984";
}
.icon-learning:before {
  content: "\e985";
}
.icon-picture:before {
  content: "\e986";
}
.icon-presentation(1):before {
  content: "\e987";
}
.icon-video-player:before {
  content: "\e988";
}
.icon-music-player1:before {
  content: "\e932";
  color: #ea6248;
}
.icon-file .path1:before {
  content: "\e92b";
  color: rgb(237, 234, 218);
}
.icon-file .path2:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(206, 201, 174);
}
.icon-file .path3:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(206, 201, 174);
}
.icon-file .path4:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(206, 201, 174);
}
.icon-file .path5:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(206, 201, 174);
}
.icon-file .path6:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(206, 201, 174);
}
.icon-file .path7:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(206, 201, 174);
}
.icon-auction:before {
  content: "\e929";
}
.icon-question:before {
  content: "\e927";
}
.icon-question-sign:before {
  content: "\e928";
}
.icon-left-arrow3:before {
  content: "\e926";
}
.icon-calendar:before {
  content: "\e975";
}
.icon-play-button0:before {
  content: "\e924";
}
.icon-tag:before {
  content: "\e925";
}
.icon-envelope:before {
  content: "\e91d";
}
.icon-man-user:before {
  content: "\e91e";
}
.icon-padlock(1):before {
  content: "\e91f";
}
.icon-phone-book:before {
  content: "\e920";
}
.icon-phone-call2:before {
  content: "\e921";
}
.icon-placeholder2:before {
  content: "\e922";
}
.icon-support:before {
  content: "\e923";
}
.icon-multiple-users-silhouette:before {
  content: "\e91c";
}
.icon-padlock1:before {
  content: "\e91a";
}
.icon-user-silhouette:before {
  content: "\e91b";
}
.icon-checked:before {
  content: "\e919";
}
.icon-down-arrow:before {
  content: "\e92a";
}
.icon-right-arrow:before {
  content: "\e918";
}
.icon-user2:before {
  content: "\e917";
}
.icon-black-and-white-credit-cards:before {
  content: "\e90b";
}
.icon-code:before {
  content: "\e90c";
}
.icon-left-arrow2:before {
  content: "\e90d";
}
.icon-menu-grid:before {
  content: "\e90e";
}
.icon-play-button:before {
  content: "\e90f";
}
.icon-round-help-button:before {
  content: "\e910";
}
.icon-star3:before {
  content: "\e911";
}
.icon-study:before {
  content: "\e912";
}
.icon-fax:before {
  content: "\e907";
}
.icon-mail:before {
  content: "\e908";
}
.icon-phone-call:before {
  content: "\e909";
}
.icon-placeholder:before {
  content: "\e90a";
}
.icon-link-symbol:before {
  content: "\e989";
}
.icon-upload-to-cloud-button:before {
  content: "\e98a";
}
.icon-cross-symbol-1:before {
  content: "\e905";
}
.icon-cross-symbol:before {
  content: "\e906";
}
.icon-database:before {
  content: "\e914";
}
.icon-flasks:before {
  content: "\e915";
}
.icon-frame-square-symbol-with-four-angles:before {
  content: "\e916";
}
.icon-menu-1:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e901";
}
.icon-instagram-symbol:before {
  content: "\e902";
}
.icon-linkedin-logo:before {
  content: "\e903";
}
.icon-megaphone:before {
  content: "\e913";
}
.icon-home:before {
  content: "\e904";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
