@font-face {
    font-family: AxiformaLight;
    src: url("/front/fonts/Axiforma-Light.otf") format("opentype");
}

.body, h1, h2, h3, h4, h5, p, span, select, input, a {
    font-family: 'Cairo', sans-serif !important;
    font-family: 'AxiformaLight', sans-serif !important;
}

.logs {
    float: left;
}

ul.head-menu.hav_left li {
    float: left;
}

.head-menu-sec {
    float: right;
}
i.closed-notify {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 20px;
}
.contect-mob img {
    width: 60px;
    float: left;
    margin-right: 14px;
    margin-left: 0px;
}
.contect-mob {
    text-align: left;
}
.input2div .inputsw button {
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.img_profilesec.d-felx a {
    font-size: 13px;
}
.head-menu-sec a {
    padding: 12px 18px!important;
}
a.dropdown-item {
    font-family: 'Cairo',sans-serif!important;
}
.f_rig_request1.chskw .checbosx label {
    font-family: 'AxiformaLight',sans-serif!important;
}
.input2div .inputsw input {
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.text_towmessage a i {
    padding-right: 10px;
    padding-left: 0;
}
.stnotif.recive {
    direction: rtl;
}
.stnotif.recive .img_stnotif img {
    float: right;
}
.img_stnotif img {
    float: left;
}
section.main_faq h4.panel-title {
    direction: rtl;
    text-align: left;
}
.f_rig_request1.chskw i.fa.fa-info-circle {
    float: left;
    margin-left: 10px;
}
.stnotif.recive .text_stnotif:before {
    content: '';
    right: -12px;
    left: auto;
}
.train-rqs-txt {
    float: left;
}
.stnotif.send .text_stnotif:before {
    content: '';
    left: -12px;
    right: auto;
}
.pagination>li {
    margin-right: 5px;
    float: left;
}
ul.new-btns-top.nm-u li i {
    margin-right: 8px;
}
.inputsw.bgw.question {
    padding-right: 5px;
    padding-left: 0;
}
.text_fmyrate h3 {
    float: left;
    text-align: left;
}
.regis6 p {
    text-align: left;
}
.regis6s {
    float: left;
    text-align: left;
}
.regis6s p {
    text-align: left;
}
.first_lmor a ul li {
    float: left;
}
.text_fmyrate ul {
    float: left;
    text-align: left;
}
.text_fmyrate ul li {
    float: left;
}
.text_fmyrate p {
    float: left;
}
.btns_oms a i {
    padding-right: 7px;
    padding-left: 0;
}

.inputsw2w.email:before, .inputsws.email:before {
    right: 15px;
    left: auto;
}
.dropmenus.profwsw ul li a span {
    float: right;
}
.inputsw.btnward button {
    font-family: 'Cairo', sans-serif !important;
    font-family: 'AxiformaLight', sans-serif !important;
}

.flistrigs li a span {
    float: left;
    margin-left: 30px;
    margin-right: 0;
    text-align: left;
}
.list_all_tabs_register.v3item li {
    float: left;
}
.sumonsws .chexboxs.hw20 > h3 {
    float: left;
    width: auto;
    margin-right: 20px;
    margin-left: 0;
    color: #333;
    font-size: 18px;
    margin-top: 0px;
    font-weight: bold;
    width: 100%;
    text-align: left;
}

.flistrigs ul li a {
    float: left;
}
.dropdowni-menu {
    float: right;
}
.input2div.sings .mobile input {
    padding-left: 20px;
    padding-right: 0;
}
.chexbox label {
    float: left;
    padding-left: 30px;
    padding-right: 0;
}
.chexbox label:before {
    left: 0;
    right: auto;
}
.chexbox input:checked+label:after {
    left: 5px;
    right: auto;
}
.lang-ul {
    float: right;
    margin-right: 8px;
}
.inputsw2w.mobile:before, .inputsw.mobile:before {
    right: 15px;
    left: auto;
}
.inputswts.rito {
    float: left;
}
span.btn_edit {
    position: absolute;
    right: 30px;
    left: auto;
}
.inputsw2w.user:before, .inputsws.user:before {
    right: 15px;
    left: auto;
}

.inputsws.pass:before {
    right: 15px;
    left: auto;
}

.menu-side {
    position: fixed;
    left: auto;
    right: -350px;
}

.btn-menu {
    right: 10px;
    left: auto;
}

.text_profilesec3 ul li.btn_edit a {
    float: left;
    width: 35px;
    height: 35px;
    background: #ab3f8e;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border-radius: 50%;
    margin-top: -2px;
    line-height: 36px;
}

.text_profilesec3 ul li {
    float: left;
}

label.error {
    right: 13px;
    left: auto;
}

.fiserig4 p {
    text-align: left;
}

.checbosx {
    float: left;
}

.text_fpisec2 ul {
    float: left;
    width: 100%;
    height: 80px;
    overflow-y: scroll;
}

.text_fpisec2 {
    padding-left: 25px;
    margin-right: 0;
}

.text_fpisec2 ul li a {
    float: left;
    width: 100%;
    color: #d75397;
    font-size: 14px;
    padding: 3px 0px 3px 14px;
    position: relative;
}
/*
.input2div.sings .new-mobile input {
    padding-left: 50px !important;
    padding-right: 0px !important;
}
*/
.text_fpisec2 ul li a:before {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    background: #de5698;
    border-radius: 50%;
    left: 0;
    right: auto;
    top: 9px;
}

/*
span.new-cuntey-tech img {
    float: left;
    margin-right: 10px;
    margin-left: 0px;
}
*/
/*
.new-cuntey-tech{
    text-align: left;
}
*/
.inputsws.bgw.seeclt .btn-group.bootstrap-select button {
    padding: 13px 15px 13px 15px;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option:before {
    right: 0px;
    left: auto;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    float: left;
    text-align: left;
    padding-right: 15px;
    padding-left: 0;
}

.inputsws.pres:before {
    left: 15px;
    right: auto;
}
.img_item_Search img {
    float: left;
}
.header_register h3 {
    float: left;
}
.list_all_tabs_register li {
    float: left;
}
.f_rig_request1 h4 {
    float: left;
    /* width: 100%; */
    color: #a9a9a9;
    font-size: 12px;
    margin: 0 0px 8px 0px;
}
.new-tit-price {
    margin-right: 20px;
    margin-left: 0;
}
.text_item_Search {
    padding-right: 15px;
    padding-left: 0;
}
.text_item_Searchs {
    padding-left: 35px;
    padding-right: 15px;
    text-align: center;
}
.teacher-loc i {
    margin-right: 10px;
    margin-left: 0;
}
/*
.dropdowni-menu a {
    font-family: 'DR',sans-serif !important;
}
ul.head-menu.hav_left li a {
    font-family: 'DR',sans-serif !important;
}
.head-menu-sec a {
    font-family: 'DR',sans-serif !important;
}
*/
.img_itprfr {
    padding-right: 15px;
    margin-left: 0;
}

.inputsws.bgw h3 {
    float: left;
    width: 100%;
    color: #333;
    font-size: 16px;
    text-align: left;
}

.chexboxs.hw20 .checbosx, .chexboxs.hw20 .chexbox {
    float: left;
    margin-right: 20px;
    margin-left: 0;
}

.chexboxs {
    float: left;
}

.inputsws.file span {
    padding-left: 15px;
    padding-right: 0;
}

.itmasksw_rest .itemsokwdp {
    float: left;
}

.tiomso label {
    right: 0;
    left: auto;
}

.inputsws.file span {
    float: left;
    text-align: left;
    padding-right: 15px;
}
.new-yi {
    float: right;
    margin-right: 10px;
    margin-left: 0;
}
.name_sing_content > a {
    float: right;
}

.name_sing_content h3 {
    float: left;
}

.list-pricesw h3 i {
    padding-right: 7px;
    padding-left: 0;
}

.inputsws textarea, .inputsws.date.select button, .inputsws input {
    padding: 14px 15px 14px 15px;
}

.inputsws.question:before {
    left: 15px;
    right: auto;
}

.item_footer_first h3:before {
    left: 0;
    right: auto;
}

.page_footer li a {
    float: left;
}

ul.list-menu-y li {
    border-right: 0;
    padding-right: 0px;
    border-left: 0;
    padding-left: 0;
}

ul.list-menu-y li:last-child {
    border-right: 0;
}

.registerS > img {
    float: left;
}

.registerS ul li a img {
    float: left;
}

.registerS ul li a span {
    float: left;
    margin-left: 15px;
    margin-right: 0;
}

.input2div .inputsw:first-child {
    padding-right: 5px;
    padding-left: 0;
}

.email_app button {
    float: left;
}

.email_app {
    float: left;
}

.list-menu-y {
    float: right;
}

.inputswss.calenders:before {
    right: 18px;
    left: auto;
}

.availablil ul li a {
    float: left;
    text-align: left;
}

.availablil ul li {
    float: left;
}

.items_sdw > h3 {
    float: left;
}

.header_fiserig4 h3 {
    float: left;
    text-align: left;
}

.dropmenus.profwsw ul li a i {
    padding-right: 5px;
    padding-left: 0;
}

.img_profilesec a i {
    padding-right: 8px;
    padding-left: 0;
}

.lisnts25 {
    direction: ltr;
}

.lisnts25 a {
    float: left;
}

.pull-left {
    float: right !important;
}

.pull-right {
    float: left !important;
}

.img_monyf img {
    float: right;
    max-width: 100%;
    margin-right: 14px;
}

.text_item_Searchs h4 {
    float: right;
    direction: rtl;
}

h3.titl-loca {
    text-align: left !important;
}

.dropmenus.profwswswe ul li a,
.dropmenus.profwsw ul li a {
    float: left;
    text-align: left;
}

.text_urlsw p {
    text-align: left;
}

.text_urlsw ul li:before {
    content: '\e919';
    font-family: 'icomoon';
    font-size: 14px;
    color: #de5698;
    position: absolute;
    left: 0;
    right: auto;
    top: 5px;
}

a.maiswpow.profsiw img {
    margin-right: 10px;
    margin-left: 0px;
    float: left;
}

.img-profile-r {
    float: right;
}

.op_item_swrequestss-new {
    float: right;
}

.text_stnotif {
    direction: ltr;
}

.text_stnotif h3 {
    float: left;
    text-align: left;
}

.page_footer-tow {
    float: left;
    width: 30%;
}

.page_footer-tow li a {
    float: left;
}

.tablse_mny table thead td:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 0;
}

.tablse_mny table thead td:last-child {
    border-top-right-radius: 15px;
    border-top-left-radius: 0;
}

.monyf.hvlsw:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.monyf.hvlsw:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.monyf.hvlsw a i {
    padding-right: 10px;
    padding-left: 0;
}

.monyf.hvlsw a {
    padding: 10px 15px;
}

.tablse_mny table thead td {
    text-align: left;
}

.head_tabo h3 {
    float: right;
    text-align: left;
}

.text_profilesec > ul li {
    float: left;
    padding-right: 20px;
    padding-left: 0;
}

.text_profilesec > ul li i {
    padding-right: 5px;
    padding-left: 0;
}

.dropmenus {
    right: 0;
    left: auto;
}

a.maiswpow.profsiw:before {
    right: -20px;
    left: auto;
}

.notif-ui {
    float: right;
    margin-right: 25px;
    margin-left: 0;
}

.right_isow h3 {
    float: left;
    text-align: left;
}

.right_isow p {
    float: right;
    text-align: right;
}
.user-avatar {
    display: inline-block;
    float: right;
}
.right_isow > p {
    text-align: left;
}

.checbosx input:checked + label:after {
    left: 4px;
    right: auto;
}

.checbosx label:before {
    left: 0;
    right: auto;
}

.checbosx label {
    float: left;
    padding-left: 30px;
    padding-right: 0;
}

.text_stnotif p {
    float: left;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .img-profile-r {
        float: left;
    }
.list-menu-y {
    float: none;
}
}

.nopadright i {
    right: 40px;
    left: auto;
}


.dollar-icon {
    position: absolute;
    left: 190px;
    top: 18px;
}


.text-content-left{
    display: table;
    padding-left: 20px;
}
@media (max-width: 576px){
/* .img-profile-r {
    margin-left: 15%;
} */
.text-content-left {
    display: initial;
    padding-left: 0;
}
.text-content-left .main-title, .text-content-left .main-info {
    text-align: left;
}
.item_Search.min-c .text_item_Searchs {

    text-align: left;
    border-left: 0px;
    padding-left: 0px
}
.min-content-left .img_item_Search img {
    margin-right: 15px;
    margin-left: 0px;
    float: left !important;
}

}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    right: 15px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b:before{
    right: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    text-align: left;
}


.select2-container .select2-selection--single{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px !important;
}

@media(max-width:776px){

    .select2-container .select2-selection--single{
        border-radius: 30px !important
    }
}

.logo{
    margin-right: 5rem;
    margin-left: 0rem;
}
.header-menu{
    margin-right: auto;
    margin-left: 0px;
}
.curancy {
    margin-left: 5rem;
    margin-right: 0rem;
}

@media (min-width: 992PX) and (max-width: 1200px) {
    .logo{
     margin-right: 0rem !important;
    }
}

@media(max-width:992px){

    .logo{
       margin-left: 0rem !important;
       margin-right: 1rem !important;
       }
       .lang-ul{
        margin-left: 8px;
        margin-right: 0px;
    }
}

@media(max-width:576px){
    .header-2 .register-y{
        margin-left: auto;
        margin-right: 40px;
    }
    .header-2 a.maiswpow.profsiw {
        padding-left: 0px;
        padding-right: 0;
    }
    #notifications_body {
        left: auto;
        right: -60px;
    }
}

.new-stlye .registerS .soial li{
    float:left
}


.border-bottom-right-radius-10{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0px
}
.border-bottom-left-radius-10{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px
}

.border-bottomTop-left-radius-10{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;

    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.border-bottomTop-right-radius-10{
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px
}

.hidden_tickets {
    float: right;
}

.add_replay_post i {
    margin-left: 0px;
    margin-right: 5px;
}
.innerContent_tickets .file-button {
    left: auto;
    right: 0;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}
.ticket_post_content {
    border-right: 1px solid #ededed;
    border-left: 0px;
}
.stats_tickets {
    text-align: right;
}

@media (min-width: 992px){
.stats_tickets {
    padding-right: 50px !important;
    padding-left: 0px;
}
}
.pr-10 {
    padding-right: 0px;
    padding-left: 20px;
}
.container-radio {
    padding-right: 0px;
    padding-left: 35px;

}
.checkmark {
    right: auto;
    left: 0;
}

.innerContent_tickets .btn_tickets i {
    margin-right: 0px;
    margin-left: 5px;
}


.list_chat_message_content .replay .info {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 0;
}


.list_chat_message_content .send .text {
    text-align: right;
}

.list_chat_message_content .send .info {
    text-align: left;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 0;
}

.footer_chat_message_content .form-group button {
    transform: translateY(-50%) rotate(180deg);
    right: 5px;
    left: auto;
}

.chat_right_content .active_person,.chat_right_content .inactive_person{
    right: -3px;
    left: auto;
}

.main_faq .panel-heading .accordion-toggle:after {
    float: right;
}

.media-body {
    margin-right: 00px;
    margin-left: 20px;
}

.post_meta_category:after {
    content: "-";
    padding-left: 5px;
    padding-right:0px;
}

.post_meta_category {
    margin-right: 5px;
    margin-left:0px
}

@media (min-width: 992px){
    .offset-lg-1 {
        margin-left: 8.333333%;
        margin-right:0px
    }
}
.comments-area .comment-list li .avatar {
    float: left;
    margin-right: 2.1rem;
}

.comments-area .comment-list li article .comment-content{
    margin-right: 0;
    margin-left: 6.888rem;
}

.navigation.post-navigation .text-left{
        text-align: right;
}

.navigation.post-navigation .fa-long-arrow-left{
    transform: rotate(180deg);
}

.navigation.post-navigation .fa-long-arrow-right{
    transform: rotate(-180deg);
}

.carousel_news .carousel-caption {
    left: 420px;
     right: auto;
}

.carousel_news .list-group {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0px;
}


@media (max-width: 992px){
    .carousel_news .carousel-caption {
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }
}


.carousel_news .list-group {
    left: 0;
   right: auto;
}

.carousel_news .list-group-item.active:before {
    left: -37px;
    right:auto
}

.back i{
    transform: rotate(180deg);
    margin-left: 0px;
    margin-right: 10px;
}
.step_Works li:not(:last-of-type):after {
    left: auto;
    right: -1px;
    border-bottom: 14px solid transparent;
    border-top: 14px solid transparent;
    border-left: 16px solid #de5698;
    border-right:0px;

}

.step_Works li:before{
    box-shadow: 0px 3px 21px 0px rgba(207, 207, 207, 0.41); 
    -webkit-transform: skew(0deg) rotateX(0deg) rotateY(20deg) rotateZ(0deg);
    -ms-transform: skew(0deg) rotateX(0deg) rotateY(20deg) rotateZ(0deg);
    transform: skew(0deg) rotateX(0deg) rotateY(20deg) rotateZ(0deg);
  
}